.body{
    background: #ffece5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.add-product{
  padding: 20px 40px;
  max-width: 700px; 
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 80px;
  margin-left: 280px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=button], input[type=submit] {
  background-color: #ffe8d6;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  align-content: right;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #cb997e;
}

.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;   
  padding: 10px 0;
  overflow: hidden;
  padding: 10px 10px;
}
.fixed-header{
  margin-left: 100px;
  top: 0; 
}

.fixed-footer{
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.container{
  float: right;
  margin-right: 300px;
}

div a{
  float: left;
  margin-left: 50px;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 25px; 
}

div.red-text{
  color: red;
}


/* .grid-container {
  /* border: 4px solid yellowgreen; */
  /* min-height: 100vh; */
  /* display: grid;
  grid-template-columns: 10;
  grid-template-rows: 50% auto; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 110px; 
  margin-right: 80px; 
  margin-left:50px ; */

  /* display: grid;
  grid-template-columns: 10;
  grid-template-rows: 50% ;  */
  /* gap: 50px; */
  /* background-color: #2196F3;
  margin-top: 110px; 
  margin-right: 80px; 
  margin-left:50px ;
  padding: 10px; */
  /* grid-gap: 10px */
/* }

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  /* grid-gap: 10px */
} */ */

.grid-container {
  display: grid;
  grid-template-areas:
    'myArea myArea . . .'
    'myArea myArea . . .';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}